#projects-carousel {
    background-color: #001f3f; /* Azul marino */
    padding: 50px 0;
    text-align: center;
}

.project-info h3 {
    color: #ffdd57; /* Amarillo */
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info h3:hover {
    color: #d4af37; /* Transición a dorado */
}

.project-info p {
    color: yellow;
}

.project-info a {
    color: #004d40; /* Verde oscuro para resaltar */
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #004d40;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.project-info a:hover {
    background-color: #004d40;
    color: #004d40;
}
